<a href="https://colab.research.google.com/github/mmstfkc/Machine-Learning/blob/main/KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# KNN algoritması ile veri setine makine öğrenmesi uygulanışı

In [30]:
import pandas as pd
dataset = pd.read_csv('dengue-dataset.csv')
dataset.head()

         data  casos-confirmados  ...  temperatura-mininima  temperatura-maxima
0  1998-01-01                237  ...                  20.2                28.1
1  1998-02-01                331  ...                  20.0                28.0
2  1998-03-01                562  ...                  22.4                27.2
3  1998-04-01                187  ...                  18.1                26.0
4  1998-05-01                 32  ...                  15.7                22.9

[5 rows x 6 columns]

In [31]:
col = ["Date","Confirmed-cases","Rain","Average-temperature","Min-temperature","Max-temperature"]
dataset.columns = col
dataset.head()

         Date  Confirmed-cases  ...  Min-temperature  Max-temperature
0  1998-01-01              237  ...             20.2             28.1
1  1998-02-01              331  ...             20.0             28.0
2  1998-03-01              562  ...             22.4             27.2
3  1998-04-01              187  ...             18.1             26.0
4  1998-05-01               32  ...             15.7             22.9

[5 rows x 6 columns]

## Leave "Date" as we will not use "Date"

In [37]:
dataset = dataset.drop('Date',axis=1)

In [38]:
dataset.isnull().any()

Confirmed-cases        False
Rain                    True
Average-temperature    False
Min-temperature        False
Max-temperature        False
dtype: bool

In [39]:
dataset[dataset.Rain.isnull()]

     Confirmed-cases  Rain  ...  Min-temperature  Max-temperature
18                 1   NaN  ...             17.1             22.1
19                 3   NaN  ...             10.8             24.8
53                50   NaN  ...             18.7             22.9
79                 0   NaN  ...             14.7             23.8
115               17   NaN  ...             18.0             23.5
126                8   NaN  ...             17.1             22.6
151               10   NaN  ...             13.5             24.3
175               12   NaN  ...             17.5             21.6

[8 rows x 5 columns]

## There are many ways to fill in blank fields. <br>
Here we would prefer to make the empty parts 0.

In [40]:
dataset.Rain.fillna(value=0,inplace=True)

In [41]:
dataset[dataset.Rain.isnull()]

Empty DataFrame
Columns: [Confirmed-cases, Rain, Average-temperature, Min-temperature, Max-temperature]
Index: []

Data set currently does not have 0

## We will create targets for our dataset

In [42]:
dataset['Is-there'] = list(map(lambda x : 1 if x != 0 else 0, dataset['Confirmed-cases']))
dataset.head()

   Confirmed-cases   Rain  ...  Max-temperature  Is-there
0              237  179.2  ...             28.1         1
1              331  226.3  ...             28.0         1
2              562  149.1  ...             27.2         1
3              187   46.4  ...             26.0         1
4               32   88.3  ...             22.9         1

[5 rows x 6 columns]

## Now let's separate the target and data

In [45]:
target = dataset['Is-there']
data = dataset.drop('Is-there',axis=1)
print(data.shape)
print(target.shape)

(204, 5)
(204,)

## Now let's separate the train and test data

In [50]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(data,target,random_state=0)
print(f"X_train:{X_train.shape}")
print(f"Y_train:{Y_train.shape}")
print(f"X_test:{X_test.shape}")
print(f"Y_Test:{Y_test.shape}")

X_train:(153, 5)
Y_train:(153,)
X_test:(51, 5)
Y_Test:(51,)

## We  will create the model

In [53]:
from sklearn.neighbors import KNeighborsClassifier
KNN = KNeighborsClassifier(n_neighbors=3)

## Education Success

In [66]:
model = KNN.fit(X_train,Y_train)
model.score(X_train,Y_train)

0.9477124183006536

In [59]:
KNN_pred = model.predict(X_test)

## Confusion matrix,accuracy score and precision score

In [61]:
from sklearn.metrics import confusion_matrix,accuracy_score,precision_score

In [67]:
matris = confusion_matrix(Y_test,KNN_pred)
acc = accuracy_score(Y_test,KNN_pred)
precision = precision_score(Y_test,KNN_pred)

In [68]:
print('Confusion Matrix :')
print(matris)
print('\nAccuracy :')
print(acc)
print('\nPrecision :')
print(precision)

Confusion Matrix :
[[ 1  1]
 [ 2 47]]

Accuracy :
0.9411764705882353

Precision :
0.9791666666666666